/*Add more too root*/
/*Imported Cyborg theme from bootswatch*/
@import "bootswatch/dist/cyborg/bootstrap.min.css";
/* Customize themes in more detail under root*/
:root {

}
/* Formats text inside input boxes for login/register*/
.loginForm input::placeholder {
color: var(--bs-primary);
font-weight: 900;
font-size: 1.2rem;
font-family: monospace;
opacity: 1;
}
/* Formats text inside input boxes for login/register*/
.loginForm input {
color: var(--bs-primary);
font-weight: 900;
font-size: 1.2rem;
font-family: monospace;
opacity: 1;
}

/* Search bar placeholder text*/
.log-search::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

/* Hilight search bar when selected*/
.log-search:focus {
    background-color: transparent;
    color: var(--bs-body-color);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.25);
}


