/*Add more too root*/
/*Imported Cyborg theme from bootswatch*/
/*Imported JetBrains Mono font*/
@import "bootswatch/dist/cyborg/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo 2:wght@400;700;900&family=Exo+2:wght@300;400;600&display=swap");
/* Customize themes in more detail under root*/

:root {
  --primary-theme1: #2496ed;
  --secondary-theme1: #066da5;
  --background-theme1: #000000;
  --text-theme1: #ffffff;
}
/* Formats text inside input boxes for login/register*/
.loginForm input::placeholder {
  color: var(--bs-primary);
  font-weight: 900;
  font-size: 1.2rem;
  font-family: monospace;
  opacity: 1;
}
/* Formats text inside input boxes for login/register*/
.loginForm input {
  color: var(--bs-primary);
  font-weight: 900;
  font-size: 1.2rem;
  font-family: monospace;
  opacity: 1;
}

.log-search::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.log-search:focus {
  background-color: transparent;
  color: var(--bs-body-color);
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.25);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(hsla(210, 83%, 55%, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, hsl(210, 83%, 55%, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
  z-index: -1;
}

h1 {
  font-weight: 700;
  font-size: 4.25rem;
  font-family: "Exo 2";
}

h3 {
  font-weight: 700;
  font-family: "Exo 2";
}

h4 {
  font-weight: 600;
  font-family: "Exo 2";
}

.card_title {
  font-weight: 600;
  font-size: 1.75rem;
  font-family: "Exo 2";
  color: var(--text-theme1);
  border: 1px solid var(--primary-theme1);
}

.containers_card {
  background-color: rgb(10, 10, 10);
  border-top: 2.75px solid var(--primary-theme1);
  border-right: 0.5px solid var(--primary-theme1);
  border-left: 0.5px solid var(--primary-theme1);
  border-bottom: 0.5px solid var(--primary-theme1);
  font-family: "Exo 2";
  font-weight: 400;
  color: white;
}

.small_text {
  font-family: monospace;
  font-variant-caps: all-small-caps;
  font-size: 25px;
  color: var(--primary-theme1);
  font-weight: 700;
}

.table {
  color: var(--primary-theme1);
  border-color: var(--secondary-theme1);
}
